.logo{
    width:150px;
    height:130px;
}

.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;

}

.navbar{
    margin: 20px;
}

.navbar > ul{
    display: flex;
    font-size: 20px;
}

.navbar > ul > li{
    padding: 10px;
    margin:10px;
    list-style-type: none;
    font-weight: 700;
}

.res-card{
    /* height: 500px;
    width:200px; */
    width: 15%;
    padding: 5px;
    background-color: #f0f0f0;
    margin:7px;
}

.res-card:hover{
    border:1px solid black;
}

.res-card > h4{
    margin: 15px 0px;
}

.res-logo{
    width:100%;
    height:200px;
}

.res-container{
    display:flex;
    flex-wrap:wrap;
    justify-content: flex-start;
}
